body {
	font-size: 1rem;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-weight: 700;
	background-color: black;
	color: black;
}

.container {
	position: absolute;
	top: 5%;
	left: 2%;
}

.header h1 {
	font-size: 3rem;
	font-family: 'Avenir Next Condensed', sans-serif;
	font-weight: 400;
}

.image-container {
	position: absolute;
	width: 303px;
	height: 337px;
	overflow: hidden;
	bottom: 36px;
	left: 24px;
	background-image: url(/images/what_is_a_terrane.jpg);
	background-size: cover;
}

.image-container2 {
	position: absolute;
	width: 303px;
	height: 337px;
	bottom: 36px;
	left: 340px;
	right: 2%;
	overflow: hidden;
	background-image: url(/images/what_do_the_colours_mean.jpg);
	background-size: cover;
}

.image-container3 {
	position: absolute;
	width: 303px;
	height: 337px;
	overflow: hidden;
	bottom: 36px;
	left: 654px;
	background-image: url(/images/what_are_the_pink.jpg);
	background-size: cover;
}

.image-container4 {
	position: absolute;
	width: 303px;
	height: 337px;
	overflow: hidden;
	bottom: 36px;
	left: 968px;
	background-image: url(/images/what_are_the_light_blue_areas.jpg);
	background-size: cover;
}

.image-container5 {
	position: absolute;
	width: 303px;
	height: 337px;
	overflow: hidden;
	bottom: 36px;
	left: 1280px;
	background-image: url(/images/what_are_the_lines_on_the_east.jpg);
	background-size: cover;
}

.image-container6 {
	position: absolute;
	width: 303px;
	height: 337px;
	overflow: hidden;
	bottom: 36px;
	right: 24px;
	background-image: url(/images/thickness_of_lines.jpg);
	background-size: cover;
}

.image-container-top-left {
	position: absolute;
	width: 929px;
	height: 604px;
	overflow: hidden;
	top: 36px;
	left: 24px;
	background-image: url(/images/mary-lou.jpg);
	background-size: cover;
}

.image-container-top-right {
	position: absolute;
	width: 929px;
	height: 604px;
	overflow: hidden;
	top: 36px;
	right: 24px;
	background-image: url(/images/brett.jpg);
	background-size: cover;
}

.mask {
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.mask:hover {
	opacity: 0.2;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.image-container-page3-NE {
	position: absolute;
	width: 50%;
	height: 50%;
	overflow: hidden;
	left: 0;
	top: 0;
	background-image: url(/images/moab.jpg);
	background-size: cover;
}

.video {
	position: absolute;
	width: 1920px;
	height: 1080px;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: none;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
  -webkit-animation: fadeout 4s linear forwards;
  animation: fadeout 4s linear forwards;
}

#light {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 1920px;
  max-height: 1080px;
  margin-left: 0 px;
  margin-top: 0 px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
  -webkit-animation: fadein 2s linear forwards;
  animation: fadein 2s linear forwards;
}

#boxclose {
  float: center;
  cursor: pointer;
  color: #fff;
  border: 2px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 15px 5px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

light[open] {
    display: block;
}
.backdrop {
    position: fixed;
    background-color: rgba(0,0,0,0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}