<% link_to '/page2.html' do %>
	<div class="image-container">
		<h3 class="image-title"><span>DISCOVER HOW MAPS ARE MADE</span></h3>
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page3.html' do %>
	<div class="image-container2">
		<h3 class="image-title"><span>CHECK OUT BC'S GEOLOGY</span></h3>
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page4.html' do %>
<div class="image-container3">
	<h3 class="image-title"><span>ASK AN EXPERT</span></h3>
<div class="mask"></div>
</div>
<% end -%>