
	
	<div id="light">
	<a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
  	<video id="video" width="1920" height="1080" controls>
      <source src="\videos\methane.mp4" type="video/mp4">
      <!--Browser does not support <video> tag -->
    </video>
	</div>
	
	<div id="fade" onClick="lightbox_close();"></div>

	<div>
	  <a href="#" onclick="lightbox_open();" class="image-container-top-left"></a>
	</div>
	
	<div>
	  <a href="#_" onclick="lightbox_open();" class="image-container-top-right"></a>
	</div>

	<div>
	  <a href="#_" onclick="lightbox_open();" class="image-container"></a>
	</div>

<% link_to '/page4.html' do %>
	<div class="image-container2">
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page4.html' do %>
	<div class="image-container3">
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page3.html' do %>
	<div class="image-container4">
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page3.html' do %>
	<div class="image-container5">
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page3.html' do %>
	<div class="image-container6">
		<div class="mask"></div>
	</div>
<% end %>

