<div class= "header">
	<div class="container">
		<h1 class="header"><span>Discover the Geological Map of BC</span></h3>
	</div>
</div>

<% link_to '/page2.html' do %>
	<div class="image-container">
		<h3 class="image-title"><span>How geological maps are made</span></h3>
		<div class="mask"></div>
	</div>
<% end %>

<% link_to '/page3.html' do %>
	<div class="image-container2">
		<h3 class="image-title"><span>Geology of BC in five minutes</span></h3>
		<div class="mask"></div>
	</div>
<% end %>


<div class="icon-container">
</div>



<!--<% link_to '/page4.html' do %>
<div class="image-container3">
	<h3 class="image-title"><span>ASK AN EXPERT</span></h3>
<div class="mask"></div>
</div>
<% end %>