<div class="overlay">
  <div class="video-container">

    <!-- SVG Close (X) Icon -->
    <svg class="close" xmlns="http://www.w3.org/2000/svg" viewBox="39.2 22.3 25 24.5"><path d="M39.5,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4l10.3-10.3L62,46.4c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.6-0.1,0.9-0.4c0.5-0.5,0.5-1.3,0-1.8L53.5,34.3l9.8-9.8c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0l-9.8,9.8l-9.8-9.8c-0.5-0.5-1.3-0.5-1.8,0c-0.5,0.5-0.5,1.3,0,1.8l9.8,9.8L39.5,44.6C39,45.1,39,45.9,39.5,46.4z"/></svg>

    <!-- Embedded video -->
    <iframe id="video" src="/videos/methane.mp4" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<header>
  <div>
    <h1>FullScreen Vimeo Popup with Autoplay and CSS3 Transitions</h1>
    <p>Here's a cool way to create a fullscreen vimeo video popup with auto play.</p>
    <span class="play"></span>
  </div>
</header>